

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <div class="p-4">
        <div class="container">
            <h1>Hi {{ user.firstName }}!</h1>
            <p><a routerLink="/users">Manage Users</a> |
                <a routerLink="/leads">Manage Leads</a>
            </p>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card card-default shadow rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <ul class="tabs-container">
                                    <li (click)="onTabClick('Invited')" [class.active]="activeTab == 'Invited'"
                                        class="tab-link">Invited
                                    </li>
                                    <li (click)="onTabClick('Accepted')" [class.active]="activeTab == 'Accepted'"
                                        class="tab-link">Accepted
                                    </li>
                                </ul>
                                <div *ngIf="activeTab == 'Invited'" class="w-120">
                                    <div class="col-7">
                                        <div *ngFor="let lead of leads">
                                            <div class="w3-card-7 w3-white" style="width:70%">
                                                <span class="w3-badge w3-orange">{{ lead.firstName[0] }}</span> {{lead.firstName}}
                                                <div>
                                                    {{ lead.dateCreated }}
                                                    <div class="centered">
                                                        <div class="columns">
                                                            <div class="white"><i class="fas fa-location-dot"></i> {{
                                                                    lead.suburb
                                                            }}</div>
                                                            <div class="white"><i class="fa fa-suitcase"></i> {{
                                                                    lead.category
                                                            }}</div>
                                                            <div class="white">Job ID: {{ lead.id }}</div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>

                                                    {{ lead.description }}
                                                    
                                                    <div class="w3-section">
                                                        <button (click)="acceptLead(lead.id)"
                                                            class="w3-button w3-orange">Accept</button>
                                                        <button (click)="declineLead(lead.id)"
                                                            class="w3-button w3-gray">Decline</button>
                                                        ${{ lead.price }} Lead Invitation
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="activeTab == 'Accepted'" class="w-120">
                                    <div class="col-7">
                                        <div *ngFor="let lead of leads">
                                            <div class="w3-card-7 w3-white" style="width:70%">
                                                <span class="w3-badge w3-orange">{{ lead.firstName[0] }}</span>
                                                {{ lead.firstName }} {{lead.lastName}}
                                                <h5>{{ lead.dateCreated }}</h5>
                                                
                                                <div class="centered">
                                                    <div class="columns">
                                                        <div class="white"><i class="fas fa-location-dot"></i> {{lead.suburb}}</div>
                                                        <div class="white"><i class="fa fa-suitcase"></i> {{lead.category}}</div>
                                                        <div class="white">Job ID: {{ lead.id }}</div>
                                                        <div class="white">${{ lead.price }} Lead Invitation</div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                                
                                                <div>
                                                    <i class="fa fa-phone"></i>{{ lead.phone }}
                                                    <i class="fa fa-envelope"></i>{{ lead.email }}
                                                </div>
                                                <div>{{ lead.description }}</div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
