.tabs-container{
    background: #eee;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    height: 50px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    }
    
    .tabs-container .tab-link{
    width: 50.00%;
    position: relative;
    height: 100%;
    padding: 10px;
    float: left;
    text-align: center;
    }
    
    
    .tab-link::after {
        position: absolute;
        left: 4px;
        right: 4px;
        bottom: 4px;
        display: block;
        content: '';
        border-bottom: 3px solid orange;
        color: #18a790;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      .tab-link:hover:after {
        transform: scaleX(1);
        /* transform-origin: 100% 50%; */
        transform-origin: 0% 50%;
      }
    .active::after {
      transform: scaleX(1);
    }
      .active{
        color: #18a790!important;
      }

      body {
        font-family: 'Roboto', sans-serif;
        background: #fff;
    }
    
    .conatiner {
        width: 100%;
        height: 500px;
    }
    .wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    
